.main-footer {
    background-color: #262628;
    color: #fbfbfb;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
    font-size: 0.9rem;
}

.main-footer p {
    margin: 0;
    line-height: 1.6;
}